<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../../../../dest/style.css?cacheBuster={{ cacheBuster }}">
    <!-- endinject -->
    <link rel="stylesheet" href="../../../../source/styleguide/custom-styleguide-specific.css">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css" media="all" />

	</head>
	<body class="{{ bodyClass }}">

